.fright .time {
  font-size: 70pt; }

.fright .label {
  font-size: 40pt; }

@media (max-width: 652px) {
  .fright .time {
    font-size: 65pt; }
  .fright .label {
    font-size: 35pt; } }

@media (max-width: 635px) {
  .fright .time {
    font-size: 60pt; }
  .fright .label {
    font-size: 30pt; } }

@media (max-width: 590px) {
  .fright .time {
    font-size: 40pt; }
  .fright .label {
    font-size: 15pt; } }

@media (max-width: 429px) {
  .fright .countdown {
    align-items: center;
    display: flex;
    flex-direction: column; } }

.cheesy .time {
  font-size: 65pt; }

.cheesy .label {
  font-size: 40pt; }

.time:not(:first-of-type) {
  padding-left: 0.5rem; }

.time-block {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.1rem; }
