.fright {
    .counter {
        background-image: url("/sarah.png");
        background-size: cover;
        background-position: 2%;
        color: #0c0c0c;
        font-family: 'Just Me Again Down Here', sans-serif;
        font-weight: bold;
    }

    .counter-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        background: rgba(255, 255, 255, 0.5);
    }
}

.cheesy {
    .counter {
        font-family: sans-serif;
    }

    .counter-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
}
