.header {
  padding: 1rem; }

.fright .header {
  font-size: 100pt; }

@media (max-width: 638px) {
  .fright .header.fright {
    font-size: 95pt; } }

@media (max-width: 609px) {
  .fright .header.fright {
    font-size: 90pt; } }

@media (max-width: 590px) {
  .fright .header.fright {
    font-size: 50pt; } }

@media (max-width: 335px) {
  .fright .header.fright {
    font-size: 45pt; } }
